{% extends 'base.html' %}
{% block title %}Advertisment - JS PUBLIC SCHOOL{% endblock %}

{% block content %}

 Content 
<article>
<header class="section background-primary text-center">
<h1 class="text-white margin-bottom-0 text-size-30 text-strong text-line-height-1">Advertisment</h1>
</header>
<div class="section background-white">
<div class="line">
<div class="margin">
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/1.jpg") }}" title="Portfolio Image 1">
</img></div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/2.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/3.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/4.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/5.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/6.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/7.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
<div class="s-12 m-6 l-3">
<div class="image-with-hover-overlay image-hover-zoom margin-bottom">
<img alt="" src="{{ url_for("static", filename="img/ads/8.jpg") }}" title="Portfolio Image 1"/>
</div>
</div>
</div>
</div>
</div>
</article>

{% endblock %}