{% extends 'base.html' %}
{% block title %}TC Downloads - JS PUBLIC SCHOOL{% endblock %}

{% block content %}

 Content 
<article>
<header class="section background-primary text-center">
<h1 class="text-white margin-bottom-0 text-size-30 text-strong text-line-height-1">TC Downloads</h1>
</header>
<div class="section background-white">
<div class="line">
<div class="margin">
<p class="margin-bottom-20 text-size-15"><strong>Available soon.</strong></p>
<!--TC Downloads-->
</div>
</div>
</div>
</article>

{% endblock %}